* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#stream {
  /* margin-top: -104px; */
  width: 100vw;
  height: 179vh;
}

#iframe-wrapper {
  position: relative;
}
#iframe-overlay {
  /* Adjust values as needed */
  height: 1000px;
  width: 100vw;
  background-color: #fff;
  position: relative;
  top: -57vh;
}
